body{
    font-family: 'Dancing Script', cursive;
    background-color: rgb(41, 38, 38);
    color:blanchedalmond;
    font-size: 20px;
}

#head{
    font-style:italic;
    font-weight: lighter;
    text-decoration: underline;
    text-align: center;
}

.strengths{
    list-style-type:upper-alpha;
    border-style:groove;
    background: linear-gradient(45deg, grey, red, purple, brown);
    border-width: 15px;
    padding: 0 50px 10px 20px;
    margin: 0 60px 80px 150px; 
}

#image{
    width: 500px;
    height: 350px;
    display: block;
    margin: auto;
    border-style: outset;
}

#movement{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(90deg, yellow, green, pink);
    animation-name: shine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin: auto;
}

@keyframes shine {
    50%{
        transform: scale(2);
    }
}