body{
    font-family: 'Dancing Script', cursive;
    background-color: rgb(41, 38, 38);
    color:blanchedalmond;
    font-size: 20px;
}

#head{
    font-style:italic;
    font-weight: lighter;
    text-decoration: underline;
    text-align: center;
}

.strengths{
    list-style-type:upper-alpha;
    border-style:groove;
    background: linear-gradient(45deg, blue, red, purple, brown);
    border-width: 15px;
    padding: 0 50px 10px 20px;
    margin: 0 60px 80px 150px; 
}

#image{
    width: 500px;
    height: 350px;
    display: block;
    margin: auto;
    border-style: outset;
}